/proyecto final/nbproject/private/
/EasyTarget/nbproject/private/
/projectFinal1/nbproject/private/
/projectFinal1/build/
/Lava autos/nbproject/private/
/Lava autos/build/
/verdurasValor/nbproject/private/
/verdurasValor/src/image.java
/verdurasValor/build/